<h3> 
    <i class="fas fa-door-open"></i>
</i> Central Bank of Genesys </h3>

<div class = "section" > 
    <paragraph class = "lead">Send and Receive Money around the World</paragraph>
</div>
<div class ="divider"></div>
<div class="section">
    <a href= "/auth/google" class = "btn red darken-l">
       <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
