<nav class="red darken-1">
    <div class="nav-wrapper container">

            <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" 
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />


        
        <a href="#!" class="brand-logo center">Central Bank of Genesys</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Transaction History</a></li>
            <li><a href="/dashboard">Perform Transaction</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>